
<div class="header-cont">
    <div class="header">
        <div class="header-links">

            <p>
                <a href="@Url.Action("ListTrees", "Nodes")">Trees</a>
            </p>
            <p>
                <a href="@Url.Action("ListQuizOfUser", "Quiz")">Quiz</a>
            </p>
            <p>
                <a href="@Url.Action("Path", "Importer")">Import</a>
            </p>
            <p >
                <a href="@Url.Action("logout", "auth")">Log Out</a>
            </p>
        </div>
    </div>
</div>